.footer{
    background-color:  #3960C6;
    
}


.footer-logo{
        color: white;
    }


    .footer-rowtop {
        padding: 40px 20px;
        color: #ffffff;
      }

      /* .footer-links{
          margin: 2.2px;
      } */