/* .title {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 100%;
  padding-top: 2%;
} */

.title {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
    padding-top: 2%;
  }


.row{
    display: flex;
    /* width: 100%; */
    justify-content: center;

}
.column{
    justify-content: center;
    padding: 2rem 6rem;
    
}


.paragraph{
font-family: "Mulish";
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 90px;
color: #444342;
}


@media screen and (max-width: 750px) {
    .paragraph{
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
     font-size: 22px; 
     line-height: 45px; 
    color: #444342;
    }

    .column{
        justify-content: center;
        padding: 0 6rem;
    }

.title{
    /* display: block;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    font-size: 0px;
    line-height: 0%; */
     padding: 1rem; 
}
} 
